@model Airline.Web.Models.HomePageModel
@using Airline.Web.AdditionalExtensions;

@{
    ViewBag.Title = "Home page";
    var nowDate = DateTime.Now;
    var maxTime = nowDate.AddMonths(2).ToString("yyyy-MM-dd");

    var minTime = User.IsInRole("AircrewMember")? nowDate.AddDays(-4).ToString("yyyy-MM-dd") : nowDate.AddYears(-1).ToString("yyyy-MM-dd");
}

<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-12 text-center">
        <span class="h3">Existing Flights</span>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="content-elements-border content-element-background home-idenx-element-padding">
            <div class="text-center list-margin">
                <span class="h4">Search by number</span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Ajax.BeginForm("FideFlightByNumber", new { area = "" }, new AjaxOptions { UpdateTargetId = "flightsListArea", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, null))
                    {
                        <div class="form-group col-md-6" style="padding-left:0; padding-right:0;">
                            @Html.TextBox("flightNumber", string.Empty , new { @class = "form-control", maxlength = "7", placeholder = "Number" })
                        </div>
                        <div class="form-group col-md-6 text-right" style="padding-right:0;">
                            <input type="submit" value="Search" class="btn btn-info btn-sm" />
                        </div>
                    }
                </div>
            </div>
            <div>
                <hr />
            </div>
            <div class="text-center list-margin">
                <span class="h4">Searching filters</span>
            </div>
            @using (Ajax.BeginForm("GetFilteredFlightList", new { area = ""}, new AjaxOptions { UpdateTargetId = "flightsListArea", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, null))
            {
                <div class="form-group">
                    @Html.Label("From what city")
                    @Html.DropDownList("fromCityId", Model.Cities, "- None -", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("To what city")
                    @Html.DropDownList("toCityId", Model.Cities, "- None -", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Departure date")
                    @Html.TextBox("departureDate", null, new { type = "date", min = minTime, max = maxTime, @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Arrival Date")
                    @Html.TextBox("arrivalDate", null, new { type = "date", min = minTime, max = maxTime, @class = "form-control" })
                </div>
                <div class="text-right">
                    <input type="submit" value="Find flights" class="btn btn-info btn-sm" />
                </div>
            }
            <div>
                <hr />
            </div>
            <div class="text-center list-margin">
                <span class="h4">Sorting</span>
            </div>
            <div>
                <input type="button" value="Sort by number" class="btn btn-info btn-sm" onclick="sortBy('Number')" />
                <input type="button" value="Sort by name" class="btn btn-info btn-sm" onclick="sortBy('Name')" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2" style="padding-right:0">
                <span>Number</span>
            </div>
            <div class="col-md-5">
                <span>Name</span>
            </div>
            <div class="col-md-3">
                <span>Depart/Arrive date</span>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div id="flightsListArea">
            @Html.Partial("FlightsList", Model.Flights)
        </div>
    </div>
    <div class="col-md-3">
        <div id="informationArea" class="content-elements-border content-element-background home-idenx-element-padding">
            <div class="text-center">
                <div></div><span class="h4">Select flight</span></div>
            <div class="text-center">
                <span class="h5">(Here you can see full information about selected flight)</span>
            </div>
        </div>
    </div>
</div>

